@font-face {
    font-family: "ceym";
    src: url("//f004.backblazeb2.com/file/Yuxian/fonts/ceym.woff2") format("woff2");
}

body {
    font-family: ceym;
}

audio {
    display: none;
}

#wood {
    text-align: center;
}

.wood-quote {
    font-size: 24px;
    text-align: center;
    padding-top: 30%;
}

.mask-btn {
    margin: 0 auto;
}