/* @font-face {
    font-family: "ceym";
    font-display: fallback;
    src: url("//testingcf.jsdelivr.net/gh/ghboke/corepresscdn@master/static/lib/font/ceym/ceym.woff2") format("woff2");
} */

body {
    background: url(/static/bg.svg) no-repeat center fixed;
    background-size: cover;
}

audio {
    display: none;
}

wood {
    font-size: larger;
    font-weight: 1000;
}

#wood {
    text-align: center;
}

#woodGif {
    width: 100%;
    margin: 0 auto;
}

.woodMask {
    font-size: large;
    text-align: center;
    padding-top: 30%;
    backdrop-filter: blur(25px)
}

.mask-btn {
    margin: 0 auto;
}